<footer class="footer responsive-footer" style="border: 1px solid #ccc;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-left">
        <span class="text-muted custSpanTxt">
          <img src="../../../assets/img/comp_logo.PNG" height="50px" width="50px" alt="company logo">
        </span>
        <div class="col-md-12 col-xs-4 custColMTA">
          <span class="custSpanFnt">
            &copy; 2024
          </span>
        </div>

      </div>
      <div class="col-md-4 footer-center">
        <span class="text-muted">
          Version
        </span>
        <div class="col-md-12 col-xs-4 custColMT">
          <span class="custSpanFnt">
            2.2.2
          </span>
        </div>
      </div>
      <div class="col-md-4 footer-right">
        <span class="text-muted">
          About
        </span>
        <div class="col-md-12 col-xs-4 custColMT">
          <span class="custSpanTxtA">
            Contact Us
          </span>
        </div>
        <div class="col-md-12 col-xs-4 custColMT">
          <span class="custSpanTxtA">
            Privacy
          </span>
        </div>
        <div class="col-md-12 col-xs-4 custColMT">
          <span class="custSpanTxtA">
            Terms of Use
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>