<div class="content" style="background-color: #f5f5ff;">
    <div class="container">
        <form>            
            <div class="row">
                <div class="col-12 mt-2 mb-2">
                    <div class="form-group position-relative">
                        <span class="custFtSize">Search</span>
                        <input autocomplete="off" type="text" ng-model="patName" id="patName" placeholder="Search"
                            class="form-control custPL2" min-length="4"
                            uib-typeahead="pat.pName as pat.pName for pat in patients($viewValue)"
                            typeahead-editable="false" />
                        <input type="hidden" id="patientId" min-length="4" ng-model="AddqueryArr.patient"
                            value="search" />
                        <a href="#" class="search-icon">
                            <i class="fa fa-search" id="myimage"
                                ng-click="getnames(AddqueryArr.qfrom,patName.pName)"></i>
                        </a>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="col-12">
                            <div class="form-inline">
                                <label for="" class="custFtSize1">Applied Filters:</label>
                                <span class="customFilterText">e-Voucher <i class="fa fa-times"></i></span>
                                <span class="customFilterText">Clear Filters <i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4 col-xs-12">
                            <div class="card custCardAlign">
                                <span class="p-2">Categories</span>
                                <div class="card-body">
                                    <ul class="list-group custUl">
                                        <li class="list-group-item">
                                            <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                            <span><span class="custSpanTxt"></span>e-Voucher</span>
                                            <span class="custTxtAlign">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                            <span><span class="custSpanTxt"></span>Products</span>
                                            <span class="custTxtAlign">
                                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                            </span>
                                        </li>
                                    </ul>

                                    <ul class="list-group custUl mt-2">
                                        <li class="list-group-item">
                                            <span><i class="fa fa-angle-up" aria-hidden="true"></i></span>
                                            <span><span class="custSpanTxt"></span>Evergreen</span>
                                            <span class="custTxtAlign">
                                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                            </span>
                                        </li>
                                    </ul>

                                    <ul class="list-group custUl mt-2">
                                        <li class="list-group-item">
                                            <span><i class="fa fa-angle-up" aria-hidden="true"></i></span>
                                            <span><span class="custSpanTxt"></span>Fashion & Retail</span>
                                            <span class="custTxtAlign">
                                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 mt-2">
                                    <span>{{getLength}} results Found</span>
                                    <button class="btn btn-danger btn-sm custTxtAlign mb-2" (click)="toggleField()">Sort</button>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="row mb-3" style="max-height:50vh;overflow: auto;">
                                        <div class="col-md-4 col-xs-12" *ngFor="let getList of getData.shopData">
                                            <div class="card mb-2">
                                                <img class="card-img-top img-fluid" src="{{getList.display_img_url}}"
                                                    alt="">
                                                <div class="card-body">
                                                    <h4 class="card-title"
                                                        style="text-align: center;font-size:12px;text-transform: capitalize;">
                                                        {{getList.name}}</h4>
                                                    <p class="card-text" style="text-align: center;font-size:10px">
                                                        {{getList.points}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="float: right;">
                                        
                                        <div class="col-3" style="border:1px solid #ccc;float: right;width: 6em;background-color: #ffffff;">
                                            <span style="padding-left:2.2em;">{{getLength}} <i class="fa fa-angle-down" aria-hidden="true"></i> </span>
                                        </div>
                                        <div class="col-md-9" style="display:contents;">
                                            <span style="margin-left:0.5em"> per page</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>