.search-icon {
    position: absolute;
    top: 50%;
    margin-left:0.7em;
}

.customFilterText {
    padding: 0.5%;
    margin-left: 0.5em;
    border: 1px solid #ccc;
    background-color: #dedbdb;
    font-size: small;
}

  .fa-check-circle {
    color:red;
    font-size: 20px;
    font-weight: 100;
  }

  .fa-check-circle-o {
    color:#cccccc;
    font-size: 20px;
    font-weight: 100;
  }
  .fa-angle-down{
    font-size: 16px;
    font-weight: 100;
  }

  .custUl {
    border-radius:0px;
    border-bottom:1px solid #999494b8;
    box-shadow: 1px 2px 3px #00000040;
  }

  .custFtSize{
    font-size:18px;
    font-weight:500;
  }

  .custFtSize1{
    font-size:15px;
    font-weight:500;
  }

  .custPL2{
    padding-left:2em;
  }

  .custCardAlign{
    width:100%;
    display: flex;
  }

  .custSpanTxt{
    padding-left:0.8em;
  }

  .custTxtAlign{
    float: right;
  }
  
  .toggled {
    background: red;
  }  